<h2>Edit Meal Plan</h2>

<div *ngIf="mealPlan; else loading">
  <form (ngSubmit)="onSubmit()">

    <label>Day of Week:</label>
    <select [(ngModel)]="mealPlan.dayOfWeek" name="dayOfWeek">
      <option *ngFor="let day of daysOfWeek" [value]="day">{{ day }}</option>
    </select>
    <br /><br />

    <label>Meal Type:</label>
    <select [(ngModel)]="mealPlan.mealType" name="mealType">
      <option *ngFor="let type of mealTypes" [value]="type">{{ type }}</option>
    </select>
    <br /><br />

    <label>Recipe:</label>
    <select [(ngModel)]="mealPlan.recipeId" name="recipeId">
    <option *ngFor="let recipe of recipes" [ngValue]="recipe.recipeId">
    {{ recipe.name }}
    </option>
    </select>
    <br /><br />

    <button type="submit">Save Changes</button>
  </form>
</div>

<ng-template #loading>
  <p>Loading meal plan...</p>
</ng-template>

